/* Common Css style */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* Header design start */
.header {
  width: 100%;
  height: 100vh;
  background-image: url("images/banner/banner3.png");
  background-size: cover;
}
.header-container {
  text-align: right;
  padding-right: 230px;
}
.header-container h1 {
  padding-top: 260px;
  color: #fff;
  font-family: Work Sans;
  font-size: 65px;
  font-weight: 700;
}
.header-container p {
  color: #fff;
  text-align: right;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 20px;
}
.header-container .btn {
  border-radius: 5px;
  background: #fff;
  padding: 18px 26px;
  color: #005fac;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
}
/* Header design end */
.my-failures {
  height: 100vh;
}
.my-failures-container {
  width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.my-failures-img img {
  margin-top: 100px;
}
.my-failures-txt h2 {
  margin-top: 200px;
  color: #151414;
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
}
.my-failures-txt p {
  color: #444343;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 20px;
}
.my-failures-txt ul {
  margin-top: 10px;
  list-style: url("images/green\ check\ mark.png");
  margin-left: 20px;
  color: 444343;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
